@keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-in {
  animation: fade-in 400ms ease-in;
}

.fade-out {
  animation: fade-out 400ms ease-in;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

body {
  padding: 5px;
  position: relative;
  min-height: 100vh;
}

h2 {
  font-weight: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: all 200ms;
}

.modal-close:hover {
  color: hsla(240, 51%, 20%, 0.793);
  scale: 1.1 1.1;
}

.modal-btn {
  position: absolute;
  top: 80px;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms;
}

.modal-btn:hover {
  color: hsla(240, 51%, 20%, 0.793);
  scale: 1.1 1.1;
}

.modal-btn--left {
  right: 180px;
}

.modal-btn--right {
  left: 180px;
}

.employee-card {
  width: 215px;
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid rgba(191, 186, 186, 0.584);
  gap: 5px;
  font-size: 10px;
  transition: all 200ms;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.employee-card:hover {
  box-shadow: 0 5px 5px -4px;
  border: 1px solid hsla(240, 51%, 20%, 0.793);
}

@media (min-width: 768px) {
  .employee-card {
    width: 220px;
  }
}
@media (min-width: 1024px) {
  .employee-card {
    width: 300px;
  }
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: 100%;
}

.img {
  width: 50px;
  border-radius: 100px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  text-transform: uppercase;
  font-size: 12px;
}

.main-header #search {
  display: block;
  width: 100px;
  padding: 2px;
  border-radius: 3px;
  border: 1px solid rgba(191, 186, 186, 0.584);
  transition: all 200ms;
  outline: none;
}

.main-header #search:hover {
  box-shadow: 0 5px 5px -4px;
  border: 1px solid hsla(240, 51%, 20%, 0.793);
}

.main-header #search:focus {
  border: 1px solid rgba(191, 186, 186, 0.584);
}

.overlay {
  height: 100vh;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.employee-modal {
  position: fixed;
  right: 50%;
  width: 200px;
  height: 220px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid rgba(191, 186, 186, 0.584);
  font-size: 11px;
  transition: all 200ms;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  margin: 10% auto;
  background: #fff;
  padding: 30px 20px;
}

.employee-modal:hover {
  box-shadow: 0 5px 5px -4px;
  border: 1px solid hsla(240, 51%, 20%, 0.793);
}

.modal-container {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  padding: 5px;
  z-index: 101;
}

.modal-container .modal-content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 400ms;
}
