@use "../utilities/mixins"as *;

$color: hsl(240 51% 20% / 0.793);
$scale: 1.1 1.1;

.modal-close {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: all 200ms;

  &:hover {
    color: $color;
    scale: $scale;
  }
}

.slider-btn {
  position: absolute;
  top: 50%;
  font-size: 25px;
  cursor: pointer;
  transition: all 200ms;
  z-index: 102;

  $btn-position: 90%;

  &:hover {
    color: $color;
    scale: $scale;
  }

  &--left {
    right: $btn-position;
  }

  &--right {
    left: $btn-position;
  }
}