@use "../utilities/mixins" as *;

body {
    padding: 5px;
    position: relative;
    }

    h2{
            font-weight: 600;
        }

  .show {
            display: block !important;
        }
        
  .hide {
            // display:block;
            display: none !important;
        }
        