@use "../utilities/mixins"as *;

body {
    padding: 5px;
    position: relative;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h2 {
    font-weight: 700;
}
